.inline{
    display: inline-block;
}

.w-10 {
    width: 10px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.w-300 {
    width: 300px;
}

.w-350 {
    width: 300px;
}

.w-400 {
    width: 400px;
}

.w-500 {
    width: 500px;
}

.w-600 {
    width: 600px;
}

.w-700 {
    width: 700px;
}

.w-800 {
    width: 800px;
}

.w-900 {
    width: 900px;
}

.w-900 {
    width: 1000px;
}


.w-1000 {
    width: 1000px;
}

.w-1100 {
    width: 1000px;
}

code, pre{
    max-height: 550px !important;
    width: 1000px !important;
}

pre{
    left: -25px;
}

.inline video{
    max-width: 100% !important;
    max-height: 100% !important;
}

.no-border{
    box-shadow: none !important;
    border: none !important;
}