<div class="navbar-fixed">
    <nav id="app-nav" class="nav-extended light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <a href="" class="brand-logo center">
                <i class="material-icons">done_all</i>Tasks
            </a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a>
                        <div *ngIf="isConnected | async; then online else offline"></div>
                        <ng-template #online>
                            <span class="new badge green" data-badge-caption="">online</span>
                        </ng-template>
                        <ng-template #offline>
                            <span class="new badge red" data-badge-caption="">offline</span>
                        </ng-template>
                    </a>
                </li>
                <li class="hide-on-med-and-down"><a href="#"><i class="material-icons">settings</i></a></li>
                <li class="hide-on-med-and-down"><a href=#><i class="material-icons">perm_identity</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
                <li><a href="#"><i class="material-icons">perm_identity</i>Sign off</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a [routerLink]="['/']"  routerLinkActive="active">Tasks</a>
                </li>
                <li class="tab">
                    <a [routerLink]="['/done']" routerLinkActive="active">Done</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<main id="app-content">
    <router-outlet></router-outlet>
</main>
